<html>
	<head>
	</head>
	<body>
	<h1>Menu</h1>
		<ul class="nav">
 		 	<li><a href="CreateQuotesGUI.php" target="mycontent">Create Quotes</a></li>
 		 	<li><a href="FinalizeQuoteGUI.php" target="mycontent">Finalize Quotes</a></li>
  			<li><a href="MaintainSalesAssociateAndQuoteGUI.php" target="mycontent">Maintain Associates and Quotes</a></li>
  			<li><a href="PurchaseOrderGUI.php" target="mycontent">Purchase Order</a></li>	
		</ul>
	</body>
<style>



 body{
 	margin: 0;
 	padding: 0;
 	font-family: 'Arial', serif;
 	background-color: #595959;
 }
 h1{
 	padding-top: 5px;
 	text-align: center;
 }

 .nav{
	color: #ffffff;
	list-style-type: none;
	text-align: center;
	padding: 20px 0 20px 0;
	}
	
	.nav > li {
		padding: 20px 0 20px 0;
	}
	
	.nav > li > a {
		text-decoration:none;
		color: #ffffff
	}
</style>
</html>